<div class="alert alert-secondary mt-4">
    <span class="oi oi-arrow-circle-right me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        This an example of a component that takes an argument.
    </span>

    <br />
    <button class="btn btn-primary" @onclick="() => Happy = true">I like Blazor!</button>

    <button class="btn btn-primary" @onclick="() => Happy = false">I don't like Blazor!</button>
    <br />

    @if(Happy == true)
    {
        <div>😃</div>
    }
    else if(Happy == false)//Happy is nullable
    {
        <div>😔</div>
    }
</div>

@code 
{
    //Demonstrates how a parent component can supply parameters
    [Parameter]
    public String? Title { get; set; }
}
